# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# =========================
# Build / Packaging
# =========================
build/
dist/
releases/
*.build/
*.dist/

# Nuitka
*.onefile-build/
*.build/
*.dist/
*.bin
*.cmd

# Compiled executables
*.exe

# Installer outputs
installer/
Output/

# Inno Setup
*.iss.bak
*.iss

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Local application data
# =========================
.sentry/
*.enc
salt

# =========================
# Testing / temp files
# =========================
tmp/
temp/
*.tmp
